@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 4px;
  }
  40% {
    opacity: 1;
    height: 8px;
  }
  80% {
    transform: translateY(18px);
    height: 8px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}

@keyframes pulse54012 {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes indicator-loop-spin {
  to {
    transform: rotate(360deg);
  }
}

